

       


  		<div class="col-4">

  			<table class="table table-striped table-scroll">
  				<thead>
  					<tr>
  						<th></th>
              <th>Consignments</th>
  						<th>Parcels</th>
  						<th>Pallets</th>
  						<th>Bundles</th>
  					</tr>
  				</thead>
          <% @monthEachDay.each_with_index do |job , index| %>
            <tr>
              
              <td><%= job[0].to_date.strftime("%d-%m") %></td>
              <td class="center-table"><%= job[1]%></td>
              <td class="center-table"><%= job[2] %></td>
              <td class="center-table"><%= job[3] %></td>
              <td class="center-table"><%= job[4] %></td>
            </tr>
        <% end %>


  				<tr>
  					<td>Total</td>
            <td class="center-table"><%= @monthCount%></td>
  					<td class="center-table"><%= @monthparcels %></td>
  					<td class="center-table"><%= @monthpallets %></td>
  					<td class="center-table"><%= @monthbundles %></td>
  				</tr>
  			</table>
  		</div>

  		<div class="col-8">
  			<canvas id="month-graph">
  				
  			</canvas>
  			
  		</div>
		
 



<script>
var monthChart = document.getElementById('month-graph').getContext('2d');
var chart = new Chart(monthChart, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [
          <% @monthByDay.each do |a|%>
              '<%= a[0].to_date.strftime('%d/%m') %>',
            <% end %>
        ],
        datasets: [{
            label: 'Consignments',
            backgroundColor: 'rgb(3, 161, 252)',
            borderColor: 'rgb(3, 161, 252)',
            fill: false,
            data: [
            <% @monthByDay.each do |a|%>
              <%= a[1] %>,
            <% end %>
            ],
            
        }]

    },

    // Configuration options go here
    options: {
      scales:{
        yAxes:[{
          display:true,
          ticks:{
            suggestedMin:0,
            beginAtZero:true
          }
        }]
      }
    }
});
  </script>