<div class="container-fluid">
  <div class="bg-white content-panel">
  	<h1>Consignments added in <%= @monthName%> <%= @year%></h1>
    <hr/>
    <div id="month-search" class="row">
      <%= form_tag(each_month_path, :method => "get",   
        class: 'center row month-search') do %> 

  
        <div class="center">
          <label for="bdaymonth">Select Month/Year:</label>
          <input type="month" id="jobMonth" name="jobMonth">
           <%= button_tag "Select", :id => 'monthSelect', :class => 'btn btn-info',:name => nil%>  
        </div>
      <% end %>
    </div>
    <br><br>

  	<% if @jobsThisMonth.count > 0 %>
    <div class="row">
    <%= render partial: "sessions/month-panel" %>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job Number</th>
          <th>Company Name</th>
          <th>Reference</th>
          <th>Parcels</th>
          <th>Pallets</th>
          <th>Bundles</th>
          <th>Adrress 1</th>
          <th>Adrress 2</th>
          <th>Adrress 3</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @results.each do |job| %>
          <tr>
            <td><%= job.id %></td>
            <td><%= link_to job.customer.company_name , job.customer%></td>
            <td class="center-table"><%= job.reference %></td>
            <td class="center-table"><%= job.parcels %></td>
            <td class="center-table"><%= job.pallets %></td>
            <td class="center-table"><%= job.bundles %></td>
            <td><%= job.customer.address1 %></td>
            <td><%= job.customer.address2 %></td>
            <td><%= job.customer.address3 %></td>
            <td><%= job.created_at.to_date.strftime('%d-%m-%y') %></td>
            <td><%= link_to 'Show', job %></td>
            <td><%= link_to 'Edit', edit_job_path(job) %></td>
            <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
          <div id="pagination">
            <%= will_paginate @results %>
          </div>
        </div>
    <% else %>
    	<p>No Consignments added this Month</p>
    <% end %>

    <br>
      </div>

  </div>
</div>
<script>
document.getElementById("jobMonth").required = true;
  </script>