<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="row">
    <div class="col-sm">
      <% options = options_from_collection_for_select(@customers, 'company_name', 'company_name') %>
      <%= form.select:customer_code, options %>
      <br>
      <br>

      <div class="hide">
      <% options2 = options_from_collection_for_select(@customers, 'id', 'id') %>
      <%= form.select:customer_id, options2 %>
      </div>
      
       <div class="field">
        <%= form.label :reference %>
        <%= form.text_field :reference %>
      </div>

      <div class="field">
        <%= form.label :parcels %>
        <%= form.number_field :parcels %>
      </div>

      <div class="field">
        <%= form.label :pallets %>
        <%= form.number_field :pallets %>
      </div>

      <div class="field">
        <%= form.label :bundles %>
        <%= form.number_field :bundles %>
      </div>

      <div class="field hide">
        <%= form.label :user_id %>
        <input type="text" id="user_id" name="job[user_id]" value="<%= current_user.id %>">
      </div>

      <div class="field actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>

    <div class="col-sm">
      <p>If Customer does not exist in the Address Book, please at them now    <a id="add-customer" href="/customers/new"><span class="glyphicon glyphicon-plus"></span></a></p>
      
    </div>

    <div class="col-sm">
      <div id="display-address">
      </div>
    </div>
</div>

  <div class="hide">
    <input  type="text" id="myName" list="name_options" readonly value=""/>
    <datalist id ="name_options" >
      <% @customers.each do |x|%>
        <option  value="<%= x.company_name%>">
      <% end %>
    </datalist>
    <input type="text" id="myAdd1" list="address1_options" readonly value=""/>
    <datalist id ="address1_options" >
      <% @customers.each do |x|%>
        <option  value="<%= x.address1%>">
      <% end %>
    </datalist>
    <input type="text" id="myAdd2" list="address2_options" readonly value=""/>
    <datalist id ="address2_options" >
      <% @customers.each do |x|%>
        <option  value="<%= x.address2%>">
      <% end %>
    </datalist>
    <input type="text" id="myAdd3" list="address3_options" readonly value=""/>
    <datalist id ="address3_options" >
      <% @customers.each do |x|%>
        <option  value="<%= x.address3%>">
      <% end %>
    </datalist>
    <input type="text" id="myEircode" list="eircode_options" readonly value=""/>
    <datalist id ="eircode_options" >
      <% @customers.each do |x|%>
        <option  value="<%= x.eircode %>">
      <% end %>
    </datalist>
  </div>
  

<script>
    jQuery(

      function($){
        $('#job_customer_code').on('change',function(){

         
          var sel = $('option:selected', this).index();



          $('#job_customer_id option').filter(function(index, el){
            return el.index == sel;
          }).prop('selected',true);

          $('#name_options option').filter(function(index, el){
            return el.index == sel;
            
          }).prop('selected',true);

          var myName = document.getElementById("name_options").options[sel].value;
          var myAdd1 = document.getElementById("address1_options").options[sel].value;
          var myAdd2 = document.getElementById("address2_options").options[sel].value;
          var myAdd3 = document.getElementById("address3_options").options[sel].value;
          var myEircode = document.getElementById("eircode_options").options[sel].value;

          $('#myName').val(myName);
          $('#myAdd1').val(myAdd1);
          $('#myAdd2').val(myAdd2);
          $('#myAdd3').val(myAdd3);
          $('#myEircode').val(myEircode);

          $('#display-address').html('<h3>'+myName+'</h3>'+ myAdd1 +'<br>'+ myAdd2 + '<br>'+myAdd3 + '<br>'+myEircode)

        });
      });
  </script>
  <script>
  document.getElementById('job_reference').required = true;
  </script>





