
<div id="jobs-panel" class="container-fluid">
    <div class="bg-white content-panel">
      <p id="notice"><%= notice %></p>

      <h1>Consignments</h1>
      <hr/>
        <table class="table table-striped">
          <thead>
        <tr>
          <th>Job Number</th>
          <th>Company Name</th>
          <th>Reference</th>
          <th>Parcels</th>
          <th>Pallets</th>
          <th>Bundles</th>
          <th>Address 1</th>
          <th>Address 2</th>
          <th>Adrdres 3</th>
          <th>Date Added</th>
          <th colspan="3"></th>
        </tr>
      </thead>

          <tbody>
            <% @test.each do |job| %>
              <tr>
                <td><%= job.id %></td>
                <td><%= link_to job.customer.company_name, job.customer %></td>
                <td class="center-table"><%= job.reference %></td>
                <td class="center-table"><%= job.parcels %></td>
                <td class="center-table"><%= job.pallets %></td>
                <td class="center-table"><%= job.bundles %></td>
                <td><%= job.customer.address1 %></td>
                <td><%= job.customer.address2 %></td>
                <td><%= job.customer.address3 %></td>
                <td><%= job.created_at.to_date.strftime('%d-%m-%y') %></td>
                <td><%= link_to 'Show', job %></td>
                <td><%= link_to 'Edit', edit_job_path(job) %></td>
                <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    <br>

        <div class="row">
          <div id="pagination">
            <%= will_paginate @test %>
          </div>
        </div>


     </div>
</div>



